version: "3"

services:
  mbp_chatbot_db:
    image: postgres:latest
    container_name: mbp_chatbot_db
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT_HOST}:${DB_PORT_CONTAINER}"
    volumes:
      - mbp_chatbot_db:/var/lib/postgresql/data
    networks:
      - ${NETWORK_NAME}

  mbp_chatbot_rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: "mbp_chatbot_rabbitmq"
    restart: always
    ports:
      - "${RABBITMQ_PORT_HOST}:${RABBITMQ_PORT_CONTAINER}"
      - "${RABBITMQ_MGMT_PORT_HOST}:${RABBITMQ_MGMT_PORT_CONTAINER}"
    volumes:
      - ~/.docker-conf/rabbitmq/app2-data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/app2-log/:/var/log/rabbitmq
    networks:
      - ${NETWORK_NAME}

  bot-app:
    build: .
    container_name: mbp_chatbot_app
    restart: always
    ports:
      - "${APP_PORT_HOST}:${APP_PORT_CONTAINER}"
    depends_on:
      - mbp_chatbot_db
      - mbp_chatbot_rabbitmq
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@mbp_chatbot_db:${DB_PORT_CONTAINER}/${DB_NAME}
      - RABBITMQ_URL=amqp://mbp_chatbot_rabbitmq:${RABBITMQ_PORT_CONTAINER}
    networks:
      - ${NETWORK_NAME}
    command: ["sh", "entrypoint.sh"]

volumes:
  mbp_chatbot_db:
    driver: local

networks:
  ${NETWORK_NAME}:
    driver: bridge
